---
---


body {
	font-family: Oxygen;
	.main {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.header {
			font-family: 'Varela Round';
			font-size: 52px; 
		}

		.content {
			margin-top: 20px;
		}
	}
}
